<div class="_js_notifyBlock notifyBlock notifyBlock--invisible">
    <div class="notifyBlock-inside">
        <h4 class="captionBlock-title"> {{ notifyText }} </h4>
    </div>
</div>

<div class="container-fluid">
        <div class="captionBlock" >
        <!--<div class="captionBlock" *ngIf="!users[0]">-->
            <h2 class="captionBlock-title"> There is no employees now. </h2>
        </div>

        <div class="editBlock"*ngIf="editMode">
            <input type="text" [(ngModel)]="userToUpdate.nameFirst">
            {{ userToUpdate | json }}
            <button class="_btn _btn--blue" (click)="updateUser( userToUpdate )"> Save Changes </button>
            <button class="_btn" (click)="cancelEdit()"> Cancel Editing </button>
        </div>
        <div class="tableRow" *ngFor="let user of users; let i = index">
            {{ user.nameFirst }}
            {{ user.nameLast }}
            {{ user.age }}
            {{ user.skill.name }}
            {{ user.skill.level }}
            {{ user.idUser }}
            <button class="_btn _btn--red" (click)="deleteUser( user.idUser, i )"> Delete User </button>
            <button class="_btn _btn--orange" (click)="startEdit( userToUpdate )"> Start Edit </button>
        </div>
</div>

<div class="_js_loadingBlock loadingBlock loadingBlock--invisible">
    <div class="loadingBlock-inside">
        <div class="loadingBlock-img">
            <!-- TODO: get resource from current project server, not from "http://77.220.213.35:8080/img/cas-1" -->
            <img src="http://77.220.213.35:8080/img/cas-1/ui/anim/spinner.svg" alt="loading animation">
        </div>
        <br>
        <h3 class="loadingBlock-title"> Loading employees... </h3>
    </div>
</div>