<nav class="navbar  navbar-fixed-top">
  <div class="container-fluid no-paddingRight">
<!--
    <div class="dropdown visible-xs pull-right">
      <button class="dropdown-toggle hamburger" 
        type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
        title="Show Menu"
      >
        <img src="http://77.220.213.35:8080/img/cas-1/ui/menu.svg" alt="casino menu"  width="36" height="auto">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a [routerLink]="['/hot']">Top Online Casinos</a></li>
        <li><a [routerLink]="['/top']">Top Streamers</a></li>
        <li><a [routerLink]="['/blog']">Blog</a></li>
      </ul>
    </div>-->

    <div class="navbar-header pull-left">
      <a class="navbar-brand navbarLogo" [routerLink]="['/home']" title="Go Home">
        <img class="main_logo" src="http://77.220.213.35:8080/img/cas-1/__logo__win__color__.svg" alt="casino" width="40" height="auto">
      </a>
    </div>

    <button (click)="toggleSidebar()"
      class="_js_btnSwowSidebar topPanel-uiItem btnSwowSidebar _btn-reset pull-right" title="Show Sidebar">
      <span class="btnSwowSidebar-icon">
        <span class="btnSwowSidebar-iconLine"></span>
        <span class="btnSwowSidebar-iconLine"></span>
        <span class="btnSwowSidebar-iconLine"></span>
      </span>
    </button>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left" *ngIf="!isAdmin()">
        <li class="navbarli"><a class="navbara" [routerLink]="['home']">Home</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/hot']">Top Online Casinos</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/top']">Top Streamers</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/blog']">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left" *ngIf="isAdmin()">
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/home']">Home</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/descriptions']">Descriptions</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/top']">Streamers</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/blog']">Blog</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/casinos']">Casinos</a></li>
        <li class="navbarli"><a class="navbara" [routerLink]="['/admin/channels']">Channels</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="_js_closeSidebar closeLayer" (click)="toggleSidebar()"></div>
<div class="_js_sidebar sidebar">
  <div class="sidebar-inside">

    <h2 class="sidebar-title text-center visible-xs" *ngIf="isAdmin()">Admin Menu</h2>
    <ul class="sidebar-items visible-xs" *ngIf="isAdmin()">
      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/home']">Home</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/home']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Home.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Home </span>
        </a>
      </li>

      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/descriptions']">Descriptions</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/descriptions']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Descriptions.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Descriptions </span>
        </a>
      </li>

      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/top']">Streamers</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/top']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Streamers.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Streamers </span>
        </a>
      </li>

      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/blog']">Blog</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/blog']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Blog.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Blog </span>
        </a>
      </li>

      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/casinos']">Casinos</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/casinos']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Casinos.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Casinos </span>
        </a>
      </li>
      
      <!--<li class="navbarli"><a class="navbara" [routerLink]="['/admin/channels']">Channels</a></li>-->
      <li>
        <a class="sidebar-item" [routerLink]="['/admin/channels']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/admin/Channels.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Channels </span>
        </a>
      </li>

    </ul>

    <h2 class="sidebar-title text-center visible-xs">Main Menu</h2>
    <ul class="sidebar-items visible-xs" aria-labelledby="dropdownMenu1">
      <li>
        <a class="sidebar-item" [routerLink]="['/hot']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/Top-Online-Casinos.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Top Online Casinos </span>
        </a>
      </li>
      <li>
        <a class="sidebar-item" [routerLink]="['/top']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon icon_TopStreamers">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/Top-Streamers.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Top Streamers </span>
        </a>
      </li>
      <li>
        <a class="sidebar-item" [routerLink]="['/blog']">
          <span class="sidebar-itemLogo sidebar-itemLogo--icon">
            <img src="http://77.220.213.35:8080/img/cas-1/ui/menu/Blog.svg" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName"> Blog </span>
        </a>
      </li>
    </ul>

    <h2 class="sidebar-title text-center">Top Casinos</h2>

<!--debug-->
<!--{{ casinos[0] | json }}-->
    <ul class="sidebar-items">
      <li *ngFor="let casino of topCasinos; let i = index;">
        <a class="sidebar-item" [routerLink]="'/casino/' + reformatStringService.clean(casino.name)"
           (click)="onCasinoNavigate(casino)">
          <span class="sidebar-itemLogo">
            <img src="{{ casino.logo_image }}" alt="Casino Logo" >
          </span>
          <span class="sidebar-itemName">
            {{ casino.name.length < 17 ? casino.name : casino.name.substr(0, 17) + '...' }}
          </span>
          <!--<span class="sidebar-itemHint"> # {{ casino.position + 1 }} </span>-->
        </a>
      </li>
    </ul>

  </div>
</div>


<div class="mainContentWrapper">
  <div class="topPanel">

    <!--<div xmlns:v="http://rdf.data-vocabulary.org/#" class="breadcrumbsBlock">-->
        <!--<span typeof="v:Breadcrumb" *ngFor="let bc of breadcrumbs; let i = index">-->
            <!--<a-->
              <!--class="breadcrumbsBlock-item"-->
              <!--*ngIf="bc.url"-->
              <!--[routerLink]="[bc.url]" rel="v:url" property="v:title">-->
              <!--{{bc.label}}-->
            <!--</a>-->
            <!--<span-->
              <!--class="breadcrumbsBlock-item" *ngIf="!bc.url"> {{bc.label}} </span>-->
            <!--<span-->
              <!--class="breadcrumbsBlock-item" *ngIf="i < breadcrumbs.length - 1"> &bull; </span>-->
        <!--</span>-->
  <!--</div>-->
  <div class="breadcrumbsBlock">
    <span *ngFor="let bc of breadcrumbs; let i = index">
    <a
            class="breadcrumbsBlock-item"
            *ngIf="bc.url"
            [routerLink]="[bc.url]">
    {{bc.label}}
    </a>
    <span
            class="breadcrumbsBlock-item" *ngIf="!bc.url"> {{bc.label}} </span>
    <span
            class="breadcrumbsBlock-item" *ngIf="i < breadcrumbs.length - 1"> &bull; </span>
    </span>
  </div>
  </div>

  <router-outlet class="routerOutlet"></router-outlet>
  <div class="relinkBlock">
      <ul class="relinkBlock">
          <li class="relinkBlock-item" *ngFor="let casino of randomCasinos; let i = index">
            <a [routerLink]="'/casino/' + reformatStringService.clean(casino.name)">
              {{casino.casino_link + '#1-' + (i+1)}}
            </a>
          </li> 
      </ul>
  </div>
</div>
<div class="navBottom clearfix">
    <div class="navBottom-list">
      <a class="navbar-brand navbarLogo" [routerLink]="['/home']" title="Go Home">
        <img class="main_logo" src="http://77.220.213.35:8080/img/cas-1/__logo__win__linear__.svg" alt="casino" width="80" height="auto">
      </a>
    </div>
    <ul class="navBottom-list">
      <li class="navBottom-listItem"> <a [routerLink]="['/about']"> About Us </a> </li>
      <li class="navBottom-listItem"> <a [routerLink]="['/disclaimer']"> Disclaimer </a> </li>
      <li class="navBottom-listItem"> <a [routerLink]="['/contact']"> Contact Us </a> </li>
    </ul>
    <ul class="navBottom-list">
      <li class="navBottom-listItem navBottom-listItem--title"> Main Menu </li>
      <li class="navBottom-listItem"> <a [routerLink]="['home']">Home</a> </li>
      <li class="navBottom-listItem"> <a [routerLink]="['/hot']">Top Online Casinos</a> </li>
      <li class="navBottom-listItem"> <a [routerLink]="['/top']">Top Streamers</a> </li>
      <li class="navBottom-listItem"> <a [routerLink]="['/blog']">Blog</a> </li>
    </ul>
    <div class="navBottom-list copyright">Casino Win &copy; 2017 - Present</div>
</div>

